/* General */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

html {
	height: 100%;
	scroll-behavior: smooth;
	scroll-padding: 10rem;
}
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', sans-serif;
	font-size: 1em;
	background: url('../img/background.jpg') #ffffff;
	color: #555555;
}

#main,
#logo,
#menubar,
#site_content,
#footer {
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-family: 'Rock Salt', cursive;
	font-size: 1.2em;
	letter-spacing: 0.1em;
	color: #000;
}

h3,
h2 {
	font-size: 140%;
	padding: 5px 0 0 0;
}

header,
main,
footer {
	transition: all 1s ease-in-out;
}

/* Banner */
header {
	height: 250px;
	background: url('../img/banner_desktop1600x900.jpg') #ffffff;
	background-size: cover;
	background-position-y: -113px;
	border-bottom: 1px solid #3d3d3d2d;
	color: #ffffff;
}
#logo {
	width: 100%;
	max-width: 1000px;
	height: 205px;
	position: relative;
	background-color: rgba(53, 62, 41, 0.608);
}
#logo h1,
#logo h2 {
	margin: 0 0 0 9px;
	text-transform: capitalize;
	border-bottom: 0;
}
#logo #logo-text {
	position: absolute;
	top: 30px;
	left: 0;
}
#logo-text h1 a {
	letter-spacing: 0.1em;
	padding: 42px 0 0 0;
}
#logo-text h2 {
	font-size: 100%;
	padding: 4px 0 0 0;
	color: #af7cb4;
}
#logo-text a,
#logo-text a > .logo_colour:hover {
	text-decoration: none;

	color: #ffffff;
}
#logo-text a > .logo_colour {
	color: #af7cb4;
}
/* Navbar */
#menubar {
	position: relative;
	width: 100%;
	max-width: 862px;
	height: 45px;
	border-top: 1px solid #3d3d3d;
	background: #2d2d2d;
}
ul#menu {
	float: right;
	margin: 0;
}
ul#menu > li {
	list-style-type: none;
	padding: 0 0 0 9px;
	margin: 8px 4px 0 4px;
	float: left;
}
ul#menu li a {
	background-color: #af7cb4;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	padding: 6px 20px 5px 20px;
	font-size: 19px;
}
ul#menu li.selected a {
	padding: 6px 20px 5px 11px;
	background: #f1ccf4;
}

a:hover {
	color: #c8b1c9;
}

a[href^='http'],
a[href^='http'] {
	color: purple;
}

.hidden {
	display: none;
}

/* Main */
#main {
	width: 100%;
	max-width: 1000px;
	margin: 35px auto;
	overflow: hidden;
}

/* Banner img */
#banner-container {
	padding: 0 0 10px 0;
	border: 10px double purple;
	margin: 30px auto;
}
#banner-img {
	height: 20vh;
	filter: blur(2px);
	background: url('../img/banner-img.jpg') no-repeat transparent;
	background-position: center;
	background-size: cover;
	transition: filter 400ms ease-in-out;
}

#banner-img:hover {
	filter: blur(0);
	transition: filter 400ms ease-in-out;
	cursor: pointer;
}

/* Row */
.container-row {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	float: left;
	text-align: left;
}
.row {
	width: 100%;
	margin: 20px auto;
	clear: both;
	overflow: auto;
	display: flex;
	flex-flow: row wrap;
}
.cols {
	width: 30%;
	float: left;
	padding: 10px;
	min-height: 150px;
	flex: 1;
}
.cols > img {
	width: 100%;
	max-height: 140px;
}

/* Main Article */

#article {
	width: 100%;
	max-width: 768px;
	margin: 0 auto;
	float: left;
	text-align: left;
	padding: 0 5px;
}

.img {
	border-radius: 5px;
}

.img:hover {
	filter: saturate(0.5);
}

.right,
img.img {
	float: right;
	width: auto;
	margin-left: 10px;
	overflow: hidden;
	position: relative;
}

.right img,
img.img {
	width: 100%;
	max-width: 300px;
	transition: transform 0.25s;
	vertical-align: top;
}

.right img:hover,
img.img:hover {
	transform: scale(1.1);
	transition: transform 0.25s;
}

.right::before {
	content: 'Hover this';
	position: absolute;
	color: #ffffff;
	bottom: 20px;
	left: 50%;
	transform: translate(-50%);
	animation: left-to-right infinite alternate 0.7s;
}

@keyframes left-to-right {
	0% {
		left: 50px;
	}
	100% {
		left: 100px;
	}
}

#article p {
	padding: 0 0 20px 2px;
	line-height: 1.7em;
	text-shadow: -1px 1px 3px #e1d2e9;
}

img {
	border: 0;
}

/* Aside */
.aside {
	width: 100%;
	max-width: 220px;
	float: right;
}

.sidebar {
	float: right;
	width: 100%;
	padding: 0;
	margin: 0 0 16px 0;
}

#search {
	color: #5d5d5d;
	border: 1px solid #bbb;
	width: 134px;
	padding: 4px;
	font: 100% arial, sans-serif;
	margin-block-start: 30px;
}

#search:not(focus) {
	border-radius: 5px;
}

#search:focus {
	border: 0 solid #bbb;
}

#search::placeholder {
	color: purple;
}

.sidebar-porftolio {
	margin-top: 7rem;
}

.sidebar-container {
	border: 2px dotted #bbb;
	border-radius: 5px;
	box-shadow: 2px 3px 4px 0px rgb(184, 174, 174);
	width: 134px;
	padding: 4px;
}

.sidebar-container:hover {
	box-shadow: inset 2px 3px 4px 0px rgb(184, 174, 174);
}

.sidebar-container > ul li a {
	text-decoration: none;
	padding: 10px;
}

.sidebar-container > ul li {
	font-family: 'Poppins', cursive;
	line-height: 1.5em;
	margin: 5px auto;
	list-style: none !important;
}

.sidebar-container > ul li a:hover {
	text-transform: uppercase;
	font-weight: bold;
}

/* FOOTER */
#footer {
	width: 100%;
	font-family: 'trebuchet ms', sans-serif;
	font-size: 100%;
	height: 100%;
	padding: 28px 0 5px 0;
	text-align: center;
	background: #000;
	border-top: 2px solid #2d2d2d;
	color: #ffffff;
	position: sticky;
	clear: both;
}

#footer p {
	line-height: 1.7em;
	padding: 0 0 10px 0;
}

#footer a {
	color: #ffffff;
	text-decoration: none;
}

#footer a:hover {
	color: #b48a7c;
	text-decoration: none;
}

.search {
	color: #5d5d5d;
	border: 1px solid #bbb;
	width: 134px;
	padding: 4px;
	font: 100% arial, sans-serif;
}

.logo {
	display: none;
	color: #af7cb4;
	font-size: 2em;
	margin-left: 10px;
	padding-top: 0;
}

.logo img {
	width: 100%;
	max-width: 1.2em;
	filter: invert(100%);
}

/* Mobile MENU */
/* Menu Icon */

.hamb {
	display: none;
	cursor: pointer;
	float: right;
	padding: 20px;
}

.hamb-line {
	background: #ffffff;
	display: block;
	height: 2px;
	position: relative;
	width: 24px;
}

.hamb-line::before,
.hamb-line::after {
	background: #ffffff;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all 0.2s ease-out;
	width: 100%;
}

.hamb-line::before {
	top: 5px;
}

.hamb-line::after {
	top: -5px;
}
.side-menu {
	display: none;
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
	.hidden {
		display: block;
	}
	header {
		background: url('../img/banner1600x900.webp') #ffffff;
		background-size: cover;
		background-position-y: bottom;
		border-bottom: 1px solid #3d3d3d2d;
		color: #ffffff;
	}

	.side-menu:checked ~ #menu {
		max-height: 700px;
		display: inline-block;
		position: absolute;
		right: 10px;
		top: 25px;
		z-index: 2000;
		margin: 20px 0;
		padding: 10px 20px;
		background-color: #2d2d2d;
	}

	.side-menu:checked ~ .hamb .hamb-line {
		background: transparent;
	}

	.side-menu:checked ~ .hamb .hamb-line::before {
		transform: rotate(-45deg);
		top: 0;
	}

	.side-menu:checked ~ .hamb .hamb-line::after {
		transform: rotate(45deg);
		top: 0;
	}

	#menu {
		display: none;
		max-height: 0;
		transition: max-height 0.5s ease-out;
	}

	#menu li {
		float: none !important;
		display: grid;
	}

	.hamb,
	.logo {
		display: inline-block;
	}

	#tbl_2 td:nth-child(3),
	#tbl_2 th:nth-child(3) {
		display: none;
	}
}
